.root {

}

.controller {
    -fx-border-color: black;
}

.menu {
    -fx-pref-width: 600;
    -fx-pref-height: 450;
    -fx-padding: 20;
}

.gameboard {
    -fx-border-color: BLACk;
    -fx-padding: 10;
}

.flowpane {
    -fx-pref-width: 400;
    -fx-padding: 2px 4px 2px 4px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-background-color: #6be1ff;
    -fx-hgap: 3px;
}

.cell {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-color: white;
    -fx-padding: 5 12 5 12;
}
